@import "tailwindcss";

/* Candara font */
@font-face {
  font-family: "Candara";
  src: url("/fonts/Candara/Candara.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("/fonts/Candara/Candara_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("/fonts/Candara/Candara_Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Candara";
  src: url("/fonts/Candara/Candara_Bold_Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Font DesertDream */
@font-face {
  font-family: "DesertDream";
  src: url("/fonts/DesertDreams/DesertDreamsRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Candara", sans-serif;
  --font-desert: "DesertDream", sans-serif;

  /* Énfasis */
  --color-gold: #ffc988;
  /* Títulos, y bg oscuros */
  --color-dark-purple: #1a0024;
}
